## 1.9 Formateo

In [1]:
'{} es el primer valor y {} es el segundo'.format(1,2)

'1 es el primer valor y 2 es el segundo'

In [2]:
'En este caso alterramos el orden y el {1} aparece primero, luego el {0}'.format('Uno', 'Dos')

'En este caso alterramos el orden y el Dos aparece primero, luego el Uno'

In [6]:
nombre = 'The lord of the rings'

x = 399.99

print(F'El valor de {nombre} es $',x)

El valor de The lord of the rings es $ 399.99

### Tambien podemos aplicar metodos

In [7]:
print(f'El valor de {nombre.title()} es', x,'pesos')

El valor de The Lord Of The Rings es 399.99 pesos

In [8]:
diccionario = {'uno': x, 'dos': x.__add__(10)};

print(diccionario)

{'uno': 399.99, 'dos': 409.99}

In [10]:
print(f'{nombre.title()} cuesta {diccionario["uno"]} pesos y el otro libro {diccionario ["dos"]} pesos.')

The Lord Of The Rings cuesta 399.99 pesos y el otro libro 409.99 pesos.