# <font color='Green'> 1.1 Crear una base de datos </font>

## <font color='Blue'> SQLite </font>

### SQLite es un gestor de bases de datos relacionales que viene integrado en la instalacion de Anaconda.
### Los gestores nos permiten crear y manipular las estructuras y los datos que almacenan.

### Como importar el modulo de SQLite

In [5]:
import sqlite3

### Para crear una conexion a la BD

In [6]:
conexion = sqlite3.connect('ejemplo.db')

### Para crear una tabla, hay que crear una variable tipo cursor.

In [7]:
conexion = sqlite3.connect('ejemplo.db')

#Se crea la variable cursor
cursor = conexion.cursor()

conexion.close()

### Para ingresar los datos a una base de datos primero debemos definir la estructura de la tabla que almacenara los datos.

### CREATE TABLE es el comando para crear una tabla.

In [8]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

# Creamos una tabla llamada estudiantes
cursor.execute('CREATE TABLE estudiantes (nombre VARCHAR(100), carrera VARCHAR(100), edad INTEGER)')

conexion.close()

OperationalError: table estudiantes already exists

### Tambien podemos ingresar y leer varios registros al mismo tiempo.

In [ ]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

usuarios = [#Siempre se pasa en formato de tupla dentro de una lista
    ('Gonzalo', 'Ciencia de Datos', 27),
    ('Santiago', 'Ciencia de Datos', 18),
    ('Julian', 'Ciencia de Datos', 19),
    ('Octavio', 'Ciencia de Datos', 22)
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?)", usuarios) #Insertamos los registros en la tabla

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [ ]:
conexion = sqlite3.connect('ejemplo.db')
cursor = conexion.cursor()

#Recuperamos los registros de la tabla
cursor.execute('SELECT * FROM estudiantes')

usuarios = cursor.fetchall()

#Mostrar los usuarios

for u in usuarios:
    print(u)
    
conexion.close()

('Gonzalo', 'Ciencia de Datos', 27)
('Santiago', 'Ciencia de Datos', 18)
('Julian', 'Ciencia de Datos', 19)
('Octavio', 'Ciencia de Datos', 22)